<div class="pageheader">
    Demand Monitor
</div>

<div class="kyemeasure">Key Measures</div>
<div class="kyemeasureresult">
    <div>
        <div>
            105
        </div>
         Open Demands
    </div>
    <div>
        <div>
           15
        </div>
        Customers
    </div>
    <div>
        <div>
          20
        </div>
        --- Invalid Cases
    </div>
    <div>
        <div>
            40
        </div>
        Average Age in Days 
    </div>
</div>
<div class="barchart">
<div class="first">
    Top Demands By Type
</div> 
<div class="second">
    Top Demands By Priority
</div>    
</div>
<div class="barchartcontaner">
    <div class="barchartcontanerfirst">
            <canvas id="myChart" width="400px" style="margin-top: 30px;" >
            </canvas>
    </div>
    <div class="barchartcontanersecond">    
            <canvas id="myChart1" width="600px" style="margin-top: 30px;" ></canvas>
    </div>
</div>
<div class="filterbox">
    Filter Criteria
</div>
<div class="filterboxresult">
    <div class="firstfilter">
        <form>
            <label for="filter">Demand type :</label>
            <select class="inputbox">
                <option></option>
                <option></option>
                <option>******************</option>
            </select>
        </form>
        <form>
            <label for="filter">Priority :</label>
            <select class="inputbox">
                <option></option>
                <option></option>
                <option>******************</option>
            </select>
        </form>
        <form>
            <label for="filter">Customer :</label>
            <select class="inputbox">
                <option></option>
                <option></option>
                <option>******************</option>
            </select>
        </form>
    </div>
    <div class="secondfilter">
        <form>
            <label for="filter">Age of Demand :</label>
            <select class="inputbox">
                <option></option>
                <option></option>
                <option>******************</option>
            </select>
        </form>
        <form>
            <label for="filter">SORIN Score :</label>
            <select class="inputbox">
                <option></option>
                <option></option>
                <option>******************</option>
            </select>
        </form>
        <form>
            <label for="filter">ILMS Score :</label>
            <select class="inputbox">
                <option></option>
                <option></option>
                <option>******************</option>
            </select>
        </form>
    </div>
</div>
<div class="tableheader">
    Open Demands List
</div>
<div class="tabelContener">
    <table class="tabel" >
        <tr class="tabelhead">
            <td>
               Demand Code
            </td>
            <td>
                Customer
            </td>
            <td>
                Item Code
            </td>
            <td>
                Item Description
            </td>
            <td>
                Date Required by.
            </td>
            <td>
                SORIN Score
            </td>
            <td>
                ILMS Score
            </td>
            <td>
                Vetting Remarks
            </td>
        </tr>

        <tr class="tableData">
            <td>
                --
            </td>
            <td>
                --
            </td>
            <td class="numbers">
               --
            </td>
            <td class="numbers">
               --
            </td>
            <td>
                --
            </td>
            <td>
                --
            </td>
            <td class="numbers">
               --
            </td>
            <td class="numbers">
               --
            </td>
        </tr>
        <tr class="tableData">
            <td>
                --
            </td>
            <td>
                --
            </td>
            <td class="numbers">
               --
            </td>
            <td class="numbers">
               --
            </td>
            <td>
                --
            </td>
            <td>
                --
            </td>
            <td class="numbers">
               --
            </td>
            <td class="numbers">
               --
            </td>
        </tr> <tr class="tableData">
            <td>
                --
            </td>
            <td>
                --
            </td>
            <td class="numbers">
               --
            </td>
            <td class="numbers">
               --
            </td>
            <td>
                --
            </td>
            <td>
                --
            </td>
            <td class="numbers">
               --
            </td>
            <td class="numbers">
               --
            </td>
        </tr> <tr class="tableDatalast">
            <td>
                --
            </td>
            <td>
                --
            </td>
            <td class="numbers">
               --
            </td>
            <td class="numbers">
               --
            </td>
            <td>
                --
            </td>
            <td>
                --
            </td>
            <td class="numbers">
               --
            </td>
            <td class="numbers">
               --
            </td>
        </tr>
    </table>
</div>
<div class="moreoptions">
    <form>
        <label for="filter">Items per page:</label>
        <select class="inputbox">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>All</option>
        </select>    
    </form>
   <div style="margin: 0px 10px 0px 10px;font-size: 70%;">
       0 of 0
   </div>
   <div class="leftlast">
    <img class="icon"  src="assets/icon/nextleft.png" alt="leftlast">
   </div>
   <div class="left">
    <img class="icon"  src="assets/icon/tleft.png" alt="leftlast">
   </div>
   <div class="right">
    <img class="icon"  src="assets/icon/right.png" alt="leftlast">
   </div>
   <div class="leftlast">
    <img class="icon"  src="assets/icon/nextright.png" alt="leftlast">
   </div>
</div>
<div class="downloadbutton"> 
    <div class="button">
      <img class="dowicon" src="assets/icon/download.png" alt="" >
      Download
    </div>
</div>