<div class="header">
    Critical Items > Add / Remove Items 
</div>
<div class="filter">
   
</div>
<div class="filterbox">
    <div class="first">
        <form>
            <label for="filter">Item Code :</label>
           <input type="text" value="SR001-45D">
        </form>
    </div>
  <div class="second">
    <form>
        <label for="filter">Description :</label>
       <input type="text">
    </form>
    <div>
        <button type="button" class="buttom">
            Search
        </button>
    </div>
  </div> 
</div>
<div class="tabelheader">
    Search Result
</div>
<div class="tabelContener">
    <table class="tabel" >
        <tr class="tabelhead">
            <td>
               Item Code
            </td>
            <td>
                Description
            </td>
            <td>
               ABC
            </td>
            <td>
                VED
            </td>
            <td>
                Action
            </td>
        </tr>

        <tr class="tableData">
            <td>
                SR001-45D 
            </td>
            <td>
                --
            </td>
            <td class="numbers">
               A
            </td>
            <td class="numbers">
               V
            </td>
            <td>
                Add
            </td>
        </tr>
        <tr class="tableData">
            <td>
                --
            </td>
            <td>
                --
            </td>
            <td class="numbers">
               --
            </td>
            <td class="numbers">
               --
            </td>
            <td>
                --
            </td>
        </tr> <tr class="tableData">
            <td>
                --
            </td>
            <td>
                --
            </td>
            <td class="numbers">
               --
            </td>
            <td class="numbers">
               --
            </td>
            <td>
                --
            </td>
        </tr> <tr class="tableDatalast">
            <td>
                --
            </td>
            <td>
                --
            </td>
            <td class="numbers">
               --
            </td>
            <td class="numbers">
               --
            </td>
            <td>
                --
            </td>
        </tr>
    </table>
</div>

<div class="moreoptions">
    <form>
        <label for="filter">Items per page:</label>
        <select class="inputbox">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>All</option>
        </select>    
    </form>
   <div style="margin: 0px 10px 0px 10px;font-size: 70%;">
       0 of 0
   </div>
   <div class="leftlast">
    <img class="icon"  src="assets/icon/nextleft.png" alt="leftlast">
   </div>
   <div class="left">
    <img class="icon"  src="assets/icon/tleft.png" alt="leftlast">
   </div>
   <div class="right">
    <img class="icon"  src="assets/icon/right.png" alt="leftlast">
   </div>
   <div class="leftlast">
    <img class="icon"  src="assets/icon/nextright.png" alt="leftlast">
   </div>
</div>
<div class="downloadbutton"> 
    <div class="button">
      <img class="dowicon" src="assets/icon/download.png" alt="" >
      Download
    </div>
</div>