.header{
    height:41px; 
    width: 82.5%;
    background-color: white;
    position: absolute; 
    margin-left: 264px;
    margin-top: -700px;
    display: flex;
    align-items: center;
    color: #000080;
    font-size: 110%;
    border-bottom: 0.01px solid;
    border-color: white white #dfdfdf white; 
}
.filter{
    height:40px; 
    width: 82.5%;
    background-color: #F3F3F3;
    position: absolute; 
    margin-left: 264px;
    margin-top: -658px;
    display: flex;
    align-items: flex-end;
    color: #000080;
    font-size: 110%;
    border-bottom: 0.01px solid;
    border-color: #F3F3F3 #F3F3F3 #dfdfdf #F3F3F3;  
}
.filterbox{
    height:101px; 
    width: 82.6%; 
    background-color: white; 
    position: absolute; 
    margin-left: 264px;
    margin-top: -616px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;
    align-items: center; */
    border-bottom: 0.01px solid;
    border-color: white white #dfdfdf white;
}
.first{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
.second{
    height: 50%;
    display: flex;
    align-items: center;
}
.first>form{
    margin: 0px 0px 0px 100px;
}
.second>form{
    margin: 0px 0px 0px 91px;
} 
.second>div{
    margin: 0px 0px 0px 700px;
}
.buttom{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    border-color: #000080;
    color: #000080;
}
.buttom:hover{
    background-color: #000080;
    color: white;
    cursor: pointer;
}
.tabelheader{
    height:40px; 
    width: 1269px; 
    background-color: #F3F3F3; 
    position: absolute; 
    margin-left: 264px;
    margin-top: -514px;
    display: flex;
    align-items: flex-end;
    color: #000080;
    border: 0.01px solid;
    border-color: #F3F3F3 #F3F3F3 #dfdfdf #F3F3F3;
}
.tabelContener{
    height: 305px; 
    width: 1250px; 
    position: absolute; 
    margin-left: 264px;
    margin-top: -472.5px;
    display: flex;
    justify-content: center;
}
.tabel{
   border-collapse: collapse;
   margin: 0px 0px 0px 20px;
   margin-bottom: 100px;
}
.tabelhead{
    background-color: #B8B4B4; 
}
.tabelhead > td{
    padding:0px 170px 0px 10px;
    border-right: 2px solid white;
    font-size: 90%;
} 
.tableData > td{
    padding:0px 170px 0px 10px;
    border-bottom: 0.01px solid #B8B4B4;
    font-size: 75%;
    font-weight: lighter;
    text-align: left;
}
.tableDatalast > td{
    padding:0px 170px 0px 10px;
    border-bottom: 2px solid #B8B4B4;
    font-size: 75%;
    font-weight: lighter;
    text-align: left;
}
.numbers{
    text-align: right;
}

.moreoptions{
    height: 50px; 
    width: 82%; 
    position: absolute; 
    margin-left: 264px;
    margin-top: -260px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.moreoptions > form > label{
    font-weight: lighter;
    font-size: 70%;
}

.leftlast, .left, .right{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 150px;
}
.leftlast>img{
    width: 9px;
    padding: 4px;
    cursor: pointer;
}
.left>img{
    width: 6.5px;
    padding: 3px;
    cursor: pointer;
    margin: 0px 5px 0px 5px; 
}
.right>img{
    width: 6.5px;
    padding: 3px;
    cursor: pointer; 
    margin: 0px 5px 0px 5px;
}
.downloadbutton{
    height: 50px; 
    width: 82%; 
    position: absolute; 
    margin-left: 264px;
    margin-top: -260px;
    display: flex;
    justify-content: end;
    align-items: center; 
}
.button{
    padding: 0px 20px;
    margin-right: 8px;
    height: 30px;
    width: 80px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 80%;
    z-index: 1;
}
.dowicon{
    width: 20px;
}
.button:hover{
    cursor: pointer;
    border: 2px solid #000080;
}