<div class="MenuBar">
    <div>
        <div>
            <img class="icon"  src="assets/icon/Home_icon.png" alt="Home_icon">
        </div>
        <div class="menucontanerhome">Home</div>
        <div>
            <img class="submenuicon"  src="assets/icon/submenuicon.png" alt="submenuicon">
        </div>
    </div>
    <div>
        <div>
            <img class="icon" src="assets/icon/plan icon.png" alt="">
        </div>
        <div class="menucontanerplan">Plan</div>
        <div>
              <img class="submenuicon"  src="assets/icon/submenuicon.png" alt="submenuicon">
        </div>
    </div>
    <div class="submenu">
        <div>
           <a routerLink="/review" routerLinkActive="active"> Review</a>
        </div>
        <div>
           <a routerLink="/refits" routerLinkActive="active" >Refit</a> 
        </div>
        <div>
           <a routerLink="/searchequipment" routerLinkActive="active"> Range And Scale</a>
        </div>      
    </div>
    <div>
        <div>
            <img class="icon" src="assets/icon/monitoring.png" alt="">
        </div>
        <div class="menucontanermonitor">Monitor</div>
        <div>
              <img class="submenuicon"  src="assets/icon/submenuicon.png" alt="submenuicon">
        </div>
    </div>
    <div class="submenu">
        <div>
           <a routerLink="/demandmonitor" routerLinkActive="active">
            Demand
           </a>
        </div>
        <div>
            <a routerLink="/criticalitemssummary" routerLinkActive="active">
                Critical Items
            </a> 
        </div>
    </div>
    <div>
        <div>
            <img class="icon" src="assets/icon/utilities icon.png" alt="">
        </div>
        <div class="menucontanerutilities">Utilities</div>
        <div>
              <img class="submenuicon"  src="assets/icon/submenuicon.png" alt="submenuicon">
        </div>
    </div>
</div>