<div class="pageheader">
    Review
</div>
<div class="selectperiod">
    Select Period
</div>
<div class="slectsection">
    <div>
        <form>
            <label for="filter">Year :</label>
            <select class="inputbox">
                <option>2021</option>
                <option></option>
                <option></option>
            </select>
        </form>
    </div>
    <div>
        <form>
            <label for="filter">Month :</label>
            <select class="inputbox">
                <option>October</option>
                <option></option>
                <option></option>
            </select>
        </form>
    </div>
    <button type="button" class="buttom" [routerLink]="['/reviewperiod']">
        Submit
    </button>
</div>