<div class="pageheader">
    Refits
</div>

<div class="kyemeasure">Key Measures</div>
<div class="kyemeasureresult">
    <div>
        <div>
            15
        </div>
         In service
    </div>
    <div>
        <div>
           30
        </div>
        Items
    </div>
    <div>
        <div>
          05
        </div>
        Customers
    </div>
    <div>
        <div>
            18,450/- 
        </div>
        Last purchase price 
    </div>
</div>
<div class="openrefits">
    Open Refits
</div>
<div class="openrefitstable">
        <table class="tabel" >
            <tr class="tabelhead">
                <td>
                    code
                </td>
                <td>
                    Customer
                </td>
                <td>
                    Date Planned
                </td>
                <td>
                    FCL Created Date
                </td>
                <td>
                    No. of Demands
                </td>
                <td>
                    No. of Issues
                </td>
                <td>
                    Compliance
                </td>
                <td>
                    Duplicates/Anomalies
                </td>
            </tr>
    
            <tr class="tableData">
                <td>
                    SR6001D-(G)
                </td>
                <td>
                    GAS TURBINE GEN.
                </td>
                <td>
                    A
                </td>
                <td>
                    V
                </td>
                <td class="numbers">
                    1
                </td>
                <td class="numbers">
                    1
                </td>
                <td class="numbers">
                    1
                </td>
                <td class="numbers">
                    1
                </td>
            </tr>
            <tr class="tableData">
                <td>
                    SR6001D-(G)
                </td>
                <td>
                    Transistor 27.
                </td>
                <td>
                    C
                </td>
                <td>
                    V
                </td>
                <td class="numbers">
                    45
                </td>
                <td class="numbers">
                    6
                </td>
                <td class="numbers">
                    6
                </td>
                <td class="numbers">
                    1
                </td>
            </tr>
            <tr class="tableData">
                <td>
                    SR6001D-(G)
                </td>
                <td>
                    Washer Adjustable
                </td>
                <td>
                    B
                </td>
                <td>
                    E
                </td>
                <td class="numbers">
                    24
                </td>
                <td class="numbers">
                    4
                </td>
                <td class="numbers">
                    4
                </td>
                <td class="numbers">
                    2
                </td>
            </tr>
            <tr class="tableDatalast">
                <td>
                    SR6001D-(G)
                </td>
                <td>
                    Coil
                </td>
                <td>
                    A
                </td>
                <td>
                    E
                </td>
                <td class="numbers">
                    14
                </td>
                <td class="numbers">
                    10
                </td>
                <td class="numbers">
                    10
                </td>
                <td class="numbers">
                    2
                </td>
            </tr>
        </table>
</div>

<div class="moreoptions">
    <form>
        <label for="filter">Items per page:</label>
        <select class="inputbox">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>All</option>
        </select>    
    </form>
   <div style="margin: 0px 10px 0px 10px;font-size: 70%;">
       0 of 0
   </div>
   <div class="leftlast">
    <img class="icon"  src="assets/icon/nextleft.png" alt="leftlast">
   </div>
   <div class="left">
    <img class="icon"  src="assets/icon/tleft.png" alt="leftlast">
   </div>
   <div class="right">
    <img class="icon"  src="assets/icon/right.png" alt="leftlast">
   </div>
   <div class="leftlast">
    <img class="icon"  src="assets/icon/nextright.png" alt="leftlast">
   </div>
</div>
<div class="downloadbutton"> 
    <div class="button">
      <img class="dowicon" src="assets/icon/download.png" alt="" >
      Download
    </div>
</div>


<div class="detaillist">
    <div>
        <form>
            <label for="filter">Detail List :</label>
            <select class="inputbox">
                <option>All</option>
                <option>OPV</option>
                <option>R</option>
              </select>
        </form>
    </div>
</div>
<div class="detaillisttable">
    <table class="tabel" >
        <tr class="atabelhead" >
            <td>
                Refit Code
            </td>
            <td>
                Item Code
            </td>
            <td>
                Item Description
            </td>
            <td>
                Quantity
            </td>
            <td>
                SORIN Remarks
            </td>
        </tr>

        <tr class="atableData">
            <td>
                SR6001D-(G)
            </td>
            <td>
                GAS TURBINE GEN.
            </td>
            <td>
                A
            </td>
            <td>
                V
            </td>
            <td class="numbers">
                1
            </td>
        </tr>
        <tr class="atableData">
            <td>
                SR6001D-(G)
            </td>
            <td>
                Transistor 27.
            </td>
            <td>
                C
            </td>
            <td>
                V
            </td>
            <td class="numbers">
                45
            </td>
        </tr>
        <tr class="atableData">
            <td>
                SR6001D-(G)
            </td>
            <td>
                Washer Adjustable
            </td>
            <td>
                B
            </td>
            <td>
                E
            </td>
            <td class="numbers">
                24
            </td>
        </tr>
        <tr class="atableDatalast">
            <td>
                SR6001D-(G)
            </td>
            <td>
                Coil
            </td>
            <td>
                A
            </td>
            <td>
                E
            </td>
            <td class="numbers">
                14
            </td>
        </tr>
    </table>
</div>

<div class="moreoptions1">
    <form>
        <label for="filter">Items per page:</label>
        <select class="inputbox">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>All</option>
        </select>    
    </form>
   <div style="margin: 0px 10px 0px 10px;font-size: 70%;">
       0 of 0
   </div>
   <div class="leftlast1">
    <img class="icon"  src="assets/icon/nextleft.png" alt="leftlast">
   </div>
   <div class="left1">
    <img class="icon"  src="assets/icon/tleft.png" alt="leftlast">
   </div>
   <div class="right1">
    <img class="icon"  src="assets/icon/right.png" alt="leftlast">
   </div>
   <div class="leftlast">
    <img class="icon"  src="assets/icon/nextright.png" alt="leftlast">
   </div>
</div>
<div class="downloadbutton1"> 
    <div class="button1">
      <img class="dowicon1" src="assets/icon/download.png" alt="" >
      Download
    </div>
</div>
