<div class="header">
    Critical Items > Summary
</div>
<div class="kyemesure">
    Key Measures
</div>
<div class="kyemeasureresult">
    <div>
        <div>
            164
        </div>
        Items
    </div>
    <div>
        <div>
            20
        </div>
        Out of Stock
    </div>
    <div>
        <div>
            32
        </div>
        Under Stoced
    </div>
    <div>
        <button routerLink="/criticalitemsaddremove" type="button" class="buttom">
            Add Items
        </button>
    </div>
</div>
<div class="filterbox">
    <form>
        <label for="filter">Status :</label>
        <select class="inputbox">
            <option>Under Stoced</option>
            <option>Out of Stoced</option>
            <option>R</option>
        </select>
    </form>
    <form>
        <label for="filter">Action :</label>
        <select class="inputbox">
            <option>Reorder</option>
            <option>OPV</option>
            <option>R</option>
        </select>
    </form>
</div>
<div class="tabelheader">
    Items List
</div>
<div class="tabelContener">
    <table class="tabel" >
        <tr class="tabelhead">
            <td>
               Item Code
            </td>
            <td>
                Description
            </td>
            <td>
                Stock Level
            </td>
            <td>
                Status
            </td>
            <td>
                DI/DO
            </td>
            <td>
                Average PLT
            </td>
            <td>
                Reorder Level
            </td>
            <td>
                Action
            </td>
        </tr>

        <tr class="tableData">
            <td>
                --
            </td>
            <td>
                --
            </td>
            <td class="numbers">
               --
            </td>
            <td class="numbers">
               --
            </td>
            <td>
                --/--
            </td>
            <td>
                --
            </td>
            <td class="numbers">
               --
            </td>
            <td class="numbers">
               --
            </td>
        </tr>
        <tr class="tableData">
            <td>
                --
            </td>
            <td>
                --
            </td>
            <td class="numbers">
               --
            </td>
            <td class="numbers">
               --
            </td>
            <td>
                --/--
            </td>
            <td>
                --
            </td>
            <td class="numbers">
               --
            </td>
            <td class="numbers">
               --
            </td>
        </tr> <tr class="tableData">
            <td>
                --
            </td>
            <td>
                --
            </td>
            <td class="numbers">
               --
            </td>
            <td class="numbers">
               --
            </td>
            <td>
                --/--
            </td>
            <td>
                --
            </td>
            <td class="numbers">
               --
            </td>
            <td class="numbers">
               --
            </td>
        </tr> <tr class="tableDatalast">
            <td>
                --
            </td>
            <td>
                --
            </td>
            <td class="numbers">
               --
            </td>
            <td class="numbers">
               --
            </td>
            <td>
                --/--
            </td>
            <td>
                --
            </td>
            <td class="numbers">
               --
            </td>
            <td class="numbers">
               --
            </td>
        </tr>
    </table>
</div>
<div class="moreoptions">
    <form>
        <label for="filter">Items per page:</label>
        <select class="inputbox">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>All</option>
        </select>    
    </form>
   <div style="margin: 0px 10px 0px 10px;font-size: 70%;">
       0 of 0
   </div>
   <div class="leftlast">
    <img class="icon"  src="assets/icon/nextleft.png" alt="leftlast">
   </div>
   <div class="left">
    <img class="icon"  src="assets/icon/tleft.png" alt="leftlast">
   </div>
   <div class="right">
    <img class="icon"  src="assets/icon/right.png" alt="leftlast">
   </div>
   <div class="leftlast">
    <img class="icon"  src="assets/icon/nextright.png" alt="leftlast">
   </div>
</div>
<div class="downloadbutton"> 
    <div class="button">
      <img class="dowicon" src="assets/icon/download.png" alt="" >
      Download
    </div>
</div>
