.Consumptiondata{
    height:40px; 
    width: 1269px; 
    background-color: #F3F3F3; 
    position: absolute; 
    margin-left: 264px;
    margin-top: -500px;
    color: #000080;
    display: flex;
    font-size: 110%;
    align-items: flex-end;
    border: 0.01px solid;
    border-color: #dfdfdf #F3F3F3 #dfdfdf #F3F3F3;
}
.Consumptiondatafilter{
    height:140px; 
    width: 1269px; 
    background-color: white; 
    position: absolute; 
    margin-left: 264px;
    margin-top: -459px;
    border: 0.01px solid;
    border-color: white white #dfdfdf white;
}
label{
    margin: 0px 7px 0px 0px;
}
.inputbox{
    width: 150px;
    height: 25px;
    /* border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px dashed #d8d8d8; */
    cursor: pointer;
}

.first, .second{
    width: 1265px;
    height: 68px;
    display: flex;
    align-items: center;

}

.first > div:nth-child(1){
    margin: 0px 0px 0px 65px;
}
.first > div:nth-child(2){
    margin: 0px 0px 0px 55px;
}
.first > div:nth-child(3){
    margin: 0px 0px 0px 70px;
}
.first > div:nth-child(4){
    margin: 0px 0px 0px 110px;
}

.second > div:nth-child(1){
    margin: 0px 0px 0px 62px;
}
.second > div:nth-child(2){
    margin: 0px 0px 0px 838px;
}

.buttom{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    border-color: #000080;
    color: #000080;
}
.buttom:hover{
    background-color: #000080;
    color: white;
    cursor: pointer;
}
