<div class="tabelheader">
    Search Result
</div>
<div class="tabelContener">
    <table class="tabel" >
        <tr class="tabelhead">
            <td>
                Code
            </td>
            <td>
                Description
            </td>
            <td>
                Equipment in Service
            </td>
            <td>
                No. of Customers
            </td>
        </tr>

        <tr class="tableData">
            <td>
                <a class="button" routerLink="/pageheader/kyemeasures/consumptiondata/table" routerLinkActive="active">SR6001D-(D)(G)AC-600-1TM5</a>
                
            </td>
            <td>
                GENERATOR DIESEL (D)(G)AC-600/1TM5
            </td>
            <td class="numbers">
               15 
            </td>
            <td class="numbers">
               6
            </td>
        </tr>
        <tr class="tableData">
            <td>
                SR6001D-(G)T(G)-1250(E)
            </td>
            <td>
                GAS TURBINE GENERATOR (G)T(G)-1250(E) 168501
            </td>
            <td class="numbers">
               10
            </td>
            <td class="numbers">
                6
            </td>
        </tr>
        <tr class="tableData">
            <td>
                SR6001D-(G)T(G)-1250-2(E)
            </td>
            <td >
                GAS TURBINE GENERATOR (G)T(G)-1250-2(E)
            </td>
            <td class="numbers">
               8
            </td>
            <td class="numbers">
                1
            </td>
        </tr>
        <tr class="tableDatalast">
            <td>
                SR6001D-P2-1/TM
            </td>
            <td>
                DISTILLATE GENERATOR P2-1/TM
            </td>
            <td class="numbers">
                9
            </td>
            <td class="numbers">
                3
            </td>
        </tr>
    </table>
</div>

<div class="moreoptions">
    <form>
        <label for="filter">Items per page:</label>
        <select class="inputbox">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>All</option>
        </select>    
    </form>
   <div style="margin: 0px 10px 0px 10px;font-size: 70%;">
       0 of 0
   </div>
   <div class="leftlast">
    <img class="icon"  src="assets/icon/nextleft.png" alt="leftlast">
   </div>
   <div class="left">
    <img class="icon"  src="assets/icon/tleft.png" alt="leftlast">
   </div>
   <div class="right">
    <img class="icon"  src="assets/icon/right.png" alt="leftlast">
   </div>
   <div class="leftlast">
    <img class="icon"  src="assets/icon/nextright.png" alt="leftlast">
   </div>
</div>
<div class="downloadbutton"> 
    <div class="button1">
      <img class="dowicon" src="assets/icon/download.png" alt="" >
      Download
    </div>
</div>

